name: Laravel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  laravel-tests:

    runs-on: self-hosted

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.0'
    - uses: actions/checkout@v2
    - name: Install Composer Dependencies
      run: /usr/local/bin/composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Maintenance Mode Up
      run: /usr/bin/php artisan down
    - name: Update Composer Dependencies
      run: /usr/local/bin/composer update
    - name: Copy .env
      run: /usr/bin/php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Generate key
      run: /usr/bin/php artisan key:generate
    - name: Generate Minify files
      run: /usr/bin/npm run prod
    - name: Maintenance Mode Down
      run: /usr/bin/php artisan up
